@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Rental Store</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Fugiat quaerat ipsum, incidunt quasi ipsa repellendus eligendi
        at fugit earum quam.
    </p>
</div>

@*<div class="row">
    <div class="about-application">
        <a href="#">How this application works</a>
    </div>
</div>*@