@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (Model.Movies == null || Model.Movies.Count() == 0)
{
    <caption>We don't have any movies yet.</caption>
}
else
{
    <table class="table table-bordered table-hover">
        <tr><th>Movies</th></tr>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    <a href="/Movies/Details/@movie.Id">@movie.Name</a>
                </td>
            </tr>
        }
    </table>
}
