@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <thead><b>Customer</b></thead>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>
                @*@{ var fullName = customer.Name + " " + customer.LastName; }
                @Html.ActionLink(fullName,
                    "Customer", "Customers", new { fullName = fullName }, null);*@  
                <a href="Details/@customer.Id">@(customer.Name + " " + customer.LastName)</a>       
</td>

</tr>
    }
</table>