@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("NEW CUSTOMER", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
            <th>Delinquent</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            if (customer.delinquent === true) {
                                return "<a href='/Customers/Details/" + customer.id + "'>" + customer.name + "</a>"
                                    + "<span class='delinquent'> (Delinquent)</span> ";
                            }

                            return "<a href='/Customers/Details/" + customer.id + "'>" + customer.name + "</a>"
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>"
                        }
                    },
                    {
                        data: "delinquent",
                        render: function (data, type, customer) {
                            if (data === false) {
                                return "<button class='btn-link js-delinquent' data-customer-id=" + customer.id + " data-customer-delinquent=" + customer.delinquent + ">Mark as delinquent</button>"
                            }
                            else {

                                return "<button class='btn-link js-delinquent' data-customer-id=" + customer.id + " data-customer-delinquent=" + customer.delinquent + ">Remove delinquent mark</button>"
                            }                         
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            $("#customers").on("click", ".js-delinquent", function () {
                var button = $(this);

                $.ajax({
                    url: "/api/customers/" + button.attr("data-customer-id"),
                    method: "GET",
                    success: function (data) {
                        if (data.delinquent === false) {
                            data.delinquent = true;
                        }
                        else {
                            data.delinquent = false;
                        }

                        $.ajax({
                            url: "/api/customers/" + data.id,
                            method: "PUT",
                            data: data,
                            success: function () {
                                table.ajax.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
}