
@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Return Form</h2>

<div class="row">
    <div class="col-md-4">
        <form id="returnMovie">
            <div class="form-group">
                <label>Customer</label>
                <div class="tt-container">
                    <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Movie</label>
                <div class="tt-container">
                    <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control" />
                </div>
            </div>

            <div class= "form-group">
                <label > Discount </label>
                <div class= "tt-container">
                    <input id = "discount" name = "discount" type = "number" class= "form-control" />
                </div>
            </div>

            <div class="form-group">
                <p class="bold">
                    Total Price:
                    <span id="totalPrice"></span>
                </p>
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-4">
        <p class="bold">Movies:</p>
        <ul id="movies" class="list-group"></ul>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            
            var vm = {
                movieIds: [],
                price: 0,
            };

            function getTotalPrice() {

                var totalPrice = vm.price * (1 - vm.customer.membershipType.discountRate / 100)

                $("#totalPrice").text(vm.price + "$" + " - " + vm.customer.membershipType.discountRate + "% (Membership)")
                if (vm.discount) {
                    $("#totalPrice").append(" - " + vm.discount + "%");
                    $("#totalPrice").append(" = " + totalPrice * (1 - vm.discount / 100) + "$");
                }
                else {
                    $("#totalPrice").append(" = " + totalPrice + "$");
                }
            }

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers,
                limit: 10
            }).on("typeahead:select", function (e, customer) {
                vm.customer = customer;
                vm.customerId = customer.id;
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies,
                limit: 10
            }).on("typeahead:select", function (e, movie) {

                if (typeof(vm.customerId) === "undefined") {
                    toastr.warning("Please select customer first!");
                }
                else {

                    $.ajax({
                        url: "/api/newRentals/?Id=" + vm.customerId + "&movieId=" + movie.id,
                        method: "GET",
                        success: function (data) {
                            $.ajax({
                                url: "/api/newRentals/" + data,
                                method: "GET",
                                success: function (data) {
                                    vm.price += data * 2;

                                    getTotalPrice();

                                    $("#movies").append("<li class='list-group-item'>" + movie.name + " - days rented: " + data + "</li>");
                                    vm.movieIds.push(movie.id);
                                }
                            })
                        }
                    });
                }
                $("#movie").typeahead("val", "");
            });

            $("#discount").on("input", function () {
                var discount = parseInt(this.value);

                if (!isNaN(discount)) {
                    vm.discount = discount;
                }

                if (vm.movieIds.length !== 0) {
                    getTotalPrice();
                }
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            $.validator.addMethod("atLeastOneMovie", function () {
                return vm.movieIds.length > 0;
            }, "Please select at least one movie.");

            var validator = $("#returnMovie").validate({

                submitHandler: function () {
                    var updateUrl = "";
                    if (isNaN(vm.discount)) {
                        updateUrl = "/api/newRentals/?Id=" + vm.customerId + "&discount=" + 0;
                    }
                    else {
                        updateUrl = "/api/newRentals/?Id=" + vm.customerId + "&discount=" + vm.discount;
                    }

                    $.ajax({
                        url: updateUrl,
                        method: "PUT",
                        contentType: "application/json",
                        data: JSON.stringify(vm.movieIds)
                    })
                    .done(function () {
                        toastr.success("Movie(s) successfully returned");

                        $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                        $("#movies").empty();

                        vm = { movieIds: [] };

                        validator.resetForm();
                        $("#totalPrice").text("");
                    })
                    .fail(function () {
                        toastr.error("Something unexpected happened");
                    });

                    return false;
                }
            });
        });
    </script>
}